<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
  <!-- NAV BAR -->
<nav  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark "  >
  <img src="http://ojass.in/2016/assets/images/codiyapa.svg" alt="Norway" style="width:50%; height:100px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 
    
     
        </div>
</nav>

      <!-- End of Nav BAr -->

<div class="container" style="margin-top: 275px;">

  <div class="row">

    <div class="col-sm">
      <div class="w3-container">
        
  <h1><font face="Calibri" color="black">WE, NOT I!</font></h1>


  <div class="w3-card-4" style="width:406px; height: 486px; overflow: hidden;">
        <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/20525824_1419251081497117_4489552034010509549_n.jpg?oh=fe2dc3f72a493d13772d8001a449b1ba&oe=5AA17E13" alt="Norway" style="width:100%; height:406px;">
    <div class="w3-container w3-center">
      <p>Tushar Bhatia: Worked on Django and basic UI of website </p>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm" style="margin-top: 62px;" >
      <div class="w3-container">

  <div class="w3-card-4" style="width:85%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/18198435_1359359920806420_8991802642846666631_n.jpg?oh=eb783dd04eec86984339fd0fc8c71ff6&oe=5A936F65" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Manav Gupta: Worked on linking backend files</p>
    </div>
  </div>
</div>
    </div>



   
  </div>
</div>
    
<div class="container" style="margin-top: 20px;" > 

  <div class="row">
    <div class="col-sm">
      <div class="w3-container">

  <div class="w3-card-4" style="width:80%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/14063873_1248299118527041_8389010766908437860_n.jpg?oh=770f6da42a00696d5ad820d260a4115f&oe=5A9382CA" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Sankalp Pasricha: Worked on front end of thwe website.</p>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="w3-container">

  <div class="w3-card-4" style="width:80%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/20770169_1912014069058955_4185498268885543134_n.jpg?oh=a65f0ce3bd05740df6dfdc4e517c38ec&oe=5AAC1AA9" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Supriya Layek: Worked on JS Files </p>
    </div>
  </div>
</div>
    </div>    
   
  </div>
</div>

<div class="container" style="margin-top: 20px;" > 

  <div class="row">
    <div class="col-sm">
      <div class="w3-container">

  <div class="w3-card-4" style="width:80%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/22366429_1553038311420529_7263811303690200942_n.jpg?oh=1ce15e4fc8a42e212b6518a858d85f28&oe=5AD7BF54" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Sai Kiran: Worked on module files of Django</p>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="w3-container">

  <div class="w3-card-4" style="width:80%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/14446123_681034892064363_4197592063720244435_n.jpg?oh=a769fdc1d1b3eaf8be0826815c92cf14&oe=5A99F5B5" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Romit Bhattacharyya: Worked on interface of the website </p>
    </div>
  </div>
</div>
    </div>    
   
  </div>
</div>

<div class="container" style="margin-top: 20px;" >
  <div class="row">
    <div class="col-sm">
     <div class="w3-container">

  <div class="w3-card-4" style="width:38%">
    <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/10624559_836988589658373_2287107776307962765_n.jpg?oh=76b4c8e93d3cd2abb948aabe5c3c2b51&oe=5A89E4FC" alt="Norway" style="width:100%">
    <div class="w3-container w3-center">
      <p>Harshad Kalantri: Worked on python and html,css</p>
    </div>
  </div>
</div>
    </div>
    </div>
</div>






</body>
</html>